[submodule "brainfuck_py"]
	path = brainfuck_py
	url = https://github.com/alexshore/brainfuck_py.git
	branch = main
[submodule "games"]
	path = games
	url = https://github.com/alexshore/games.git
	branch = main
